@import "../../scss/Index.module.scss";

.ItemListsIcons {
	padding: 10px 0;
	list-style: none;
	display: grid;
	grid-template-areas:
		"Img Title"
		"Img Description";

	@include media-queries(extra-small) {
		padding: 10px 0;
		grid-template-areas:
			"Img Title"
			"Img Description";

	}

	@include media-queries(small) {
		padding: 10px 0;
		grid-template-areas:
			"Img Title"
			"Img Description";
	}

	@include media-queries(medium) {
		padding: 40px 0;
		grid-template-areas:
			"Img Img"
			"Title Title"
			"Description Description";
	}

	&_Img {
		display: block;
		grid-area: Img;
	}

	&_Title {
		grid-area: Title;
		font-size: $font-subtitle;
		line-height: var(--line-height-32);
		font-weight: var(--font-weight-900);
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 10px;

		@include media-queries(extra-small) {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 10px;
			padding: 10px 0;
		}
		@include media-queries(small) {
			padding: 10px 0;
			margin-left: 0;
		}
	}
	&_Description {
			grid-area: Description;
		margin-bottom: $margin-bottom-icon-list;
		color: $color-four;
		font-size: $font-paragraph;
		line-height: var(--line-height-32);
		margin-left: 10px;

		@include media-queries(extra-small) {
			margin-left: 10px;

		}
		@include media-queries(small) {
			margin-left: 0;
		}
	}
}