@import "../../scss/Index.module.scss";
.Container {
	display: grid;
	justify-items: stretch;
	align-items: stretch;
	grid-template-areas:
		"Header"
		"Enter"
		"Enter_Image"
		"Whole"
		"Whole_Image"
		"Portofolio"
		"Portofolio_Image"
		"Enter"
		"Enter_Image"
		"Granular"
		"Granular_Image"
		"Plan"
		"Plan_Image"
		"Live"
		"Get"
		"Card"
		"Newsletter";

	@include media-queries(extra-small) {
		grid-template-areas:
			"Header"
			"Enter"
			"Enter_Image"
			"Whole"
			"Whole_Image"
			"Portofolio"
			"Portofolio_Image"
			"Enter"
			"Enter_Image"
			"Granular"
			"Granular_Image"
			"Plan"
			"Plan_Image"
			"Live"
			"Get"
			"Card"
			"Newsletter";
	}

	@include media-queries(small) {
		grid-template-areas:
			"Header Header"
			"Enter Enter_Image"
			"Whole Whole_Image"
			"Portofolio Portofolio_Image"
			"Granular Granular_Image"
			"Plan Plan_Image"
			"Live Live"
			"Get Get"
			"Card Card"
			"Newsletter Newsletter";
	}

	// @include media-queries(medium) {
	// background-color:purple;
	// }
	// @include media-queries(large) {
	// background-color:cyan;
	// }
	// @include media-queries(extra-large) {
	// background-color:blue;
	// }

	&_Header {
		grid-area: Header;
		width: 100%;
		padding: 20px;
		text-align: center;
	}

	&_Enter {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Enter;
	}

	&_Enter_Image {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Enter_Image;
	}

	&_Whole {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Whole;
	}

	&_Whole_Image {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Whole_Image;
	}

	&_Portofolio {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Portofolio;
	}

	&_Portofolio_Image {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Portofolio_Image;
	}

	&_Granular {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Granular;
	}

	&_Granular_Image {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Granular_Image;
	}

	&_Plan {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Plan;
	}

	&_Plan_Image {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Plan_Image;
	}

	&_Live {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Live;
	}

	&_Card {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Card;
	}

	&_Newsletter {
		width: 100%;
		padding: 20px;
		text-align: center;
		grid-area: Newsletter;
	}

}