@import "../../scss/Index.module.scss";

.Header {
	width: 100%;
	display: grid;
	grid-template-areas: "Menu Login";
	padding: 25px 0;
	position: relative;

	&_List {
		grid-area: Menu;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&_Logo {
			list-style: none;
			cursor: pointer;
		}

		&_Princing {
			font-size: 16px;
			font-weight: 600;
			list-style: none;
			display: none;

			@include media-queries(extra-small) {
				display: none;
			}

			@include media-queries(small) {
				display: block;
			}
		}

		&_Produkt {
			@extend .Header_List_Princing;
		}

		&_Compare {
			font-size: 16px;
			// display: flex;
			align-items: center;
			align-content: center;

			&::after {
				display: block;
				content: ' ';
				background-image: url('../../img/svg/arrowDown.svg');
				background-size: 14px 14px;
				height: 14px;
				width: 14px;
				margin-left: 10px;
				margin-top: 4px;
			}

			display: none;

			@include media-queries(extra-small) {
				display: none;
			}

			@include media-queries(small) {
				display: flex;
			}
		}

		&_Solutions {
			@extend .Header_List_Compare;

			&::after {
				@extend .Header_List_Compare::after;
			}
		}

		&_Help {
			@extend .Header_List_Princing;
		}

	}

	&_Login {
		grid-area: Login;
		// display: flex;
		justify-content: flex-end;
		align-items: center;

		&_In {
			padding: 17px 20px;
			font-size: 16px;
		}

		&_Get {
			background-color: #2693ff;
			padding: 17px 20px;
			font-size: 16px;
			outline: none;
			border: none;
			border-radius: 4px;
			font-weight: 700;
			color: #fff;
			cursor: pointer;
		}

		display: none;

		@include media-queries(extra-small) {
			display: none;
		}

		@include media-queries(small) {
			display: flex;
		}
	}

	&_Hamburger {
		display: block;
		position: absolute;
		top: 33px;
		right: 20px;

		z-index: 1;
		-webkit-user-select: none;
		user-select: none;

		&_Input {
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;
			cursor: pointer;
			opacity: 0;
			z-index: 2;
			-webkit-touch-callout: none;
		}

		&_Line {
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;
			background: #cdcdcd;
			border-radius: 3px;
		}

		@include media-queries(extra-small) {
			display: block;
		}

		@include media-queries(small) {
			display: none;
		}
	}
}