@import "../../scss/Index.module.scss";

	.ItemSection {
		width: 100%;
		display: grid;
		justify-items: stretch;
		align-items: stretch;
		grid-template-areas:
			"Enter"
			"EnterImage"
			"Whole"
			"WholeImage"
			"Portfolio"
			"PortfolioImage"
			"Granular"
			"GranularImage"
			"Plan"
			"PlanImage"
			"Live";

		@include media-queries(extra-small) {
			grid-template-areas:
				"Enter"
				"EnterImage"
				"Whole"
				"WholeImage"
				"Portfolio"
				"PortfolioImage"
				"Granular"
				"GranularImage"
				"Plan"
				"PlanImage"
				"Live";
		}

		@include media-queries(small) {
			grid-template-areas:
				"Enter EnterImage"
				"Whole WholeImage"
				"Portfolio PortfolioImage"
				"Granular GranularImage"
				"Plan PlanImage"
				"Live Live";
		}
		&_Enter {
			grid-area: Enter;
		}

		&_Enter_Image {
			grid-area: EnterImage;
		}

		&_Whole {
			grid-area: Whole;
		}

		&_Whole_Image {
			grid-area: WholeImage;
		}

		&_Portfolio {
			grid-area: Portfolio;
		}

		&_Portfolio_Image {
			grid-area: PortfolioImage;
		}

		&_Granular {
			grid-area: Granular;
		}

		&_Granular_Image {
			grid-area: GranularImage;
		}

		&_Plan {
			grid-area: Plan;
		}

		&_Plan_Image {
			grid-area: PlanImage;
		}

		&_Live {
			grid-area: Live;
		}
	}