
@mixin media-queries($break-point-size) {
    @if map-has-key($breakpoints, $break-point-size) {
      @media screen and ( min-width: map-get($breakpoints, $break-point-size) ) {
        @content;
      }
    } @else {
      @media screen and ( min-width: $break-point-size ) {
        @content;
      }
    }
  }