*,
*:after,
*:before {
      box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%!important;
    min-height: 100%!important;
    box-sizing: border-box!important;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
// $font-family:"Lato", sans-serif;
  $breakpoints:(
    extra-small: 30em, /* 480 / 16  */
    small: 37.5em, /* 600 / 16  */
    medium: 45em, /* 720 / 16 */
    large: 64em, /* 1024 / 16 */
    extra-large: 75em /* 1200/ 16 */
  );